.alerta-popup {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 4px 24px #0002;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  z-index: 9999;
  color: #fff;
  animation: fadeInDown 0.3s;
}

.alerta-popup.erro {
  background-color: #e53935;
}
.alerta-popup.sucesso {
  background-color: #34a853;
}

.alerta-popup ion-icon {
  font-size: 1.5em;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.cadastro-wrapper {
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  display: flex;
  padding-inline: 50px;
  padding-block: 0px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.titulo-cadastro {
  font-size: 1.5rem;
  font-weight: 700;
  color: #34a853;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.input-item {
  --background: transparent;
  --border-width: 0;
  --inner-border-width: 0;
  --inner-padding-end: 0;
  --padding-end: 20px;
  width: 100%;
  margin-bottom: 0;
  font-size: 1rem;
  position: relative;

  ion-input {
    width: 100%;
    --padding-start: 1rem;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: var(--place-color);
    border: 1px solid var(--cinza-dark);
    border-radius: 5px;
    margin-left: 10px;
  }

  .icon-wapper {
    position: absolute;
    background: #fff !important;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.5px;

    ion-icon {
      color: #34a853;
      font-size: 1.2em;
      margin: 0;
      padding: 0;
    }
  }
}

.input-item.item-has-focus {
  --highlight-color-focused: #34a853 !important;
}

ion-button {
  --background: #34a853;
  --border-radius: 5px;
  width: 90%;
  margin-top: 10px;
}

.login-link {
  margin-top: 18px;
  font-size: 1rem;
  text-align: center;
  span {
    color: #34a853;
    cursor: pointer;
  }
}

.radio-flex{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.tt-radio{
  font-size: 1rem;
  color: #34a853 !important;
}

.radio {
  background: transparent;
  justify-content: center;
  color: #34a853 !important;
  width: 100%;

  ion-item {
    --background: transparent;
    --border-width: 0;
    --inner-border-width: 0;
    --inner-padding-end: 0;
    --padding-end: 20px;
    --background-hover: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --ripple-color: transparent;
    color: #34a853 !important;
    font-size: small;
    display: flex;
    gap: 15px;

    ion-radio{
      --color-checked: #34a853;
      --color: #34a853 !important;
      margin-right: 10px;
    }
  }

  ion-item:hover ion-label{
    color: #278240 !important;
  }

  ion-label{
    width: 100%;
  }
}

ion-input:focus-within{
  border: 2px solid #34a853 !important;
  box-shadow: 0 0 5px rgba(52, 168, 83, 0.5);
}
