<ion-content class="content" [class.input-focus]="inputEmFoco">
  <div class="alerta-popup" [ngClass]="corPopup" *ngIf="mensagemErro">
    <ion-icon name="information-circle-outline"></ion-icon>
    <span>{{ mensagemErro }}</span>
  </div>
  <div class="cadastro-wrapper cadastro-card">
    <h2 class="titulo-cadastro">Cadastro</h2>
    <form class="form" (ngSubmit)="cadastrar()">
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="nome"
          name="nome"
          placeholder="Nome"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Email"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="senha"
          name="senha"
          type="password"
          placeholder="Senha"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="barbell-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="peso"
          name="peso"
          type="number"
          placeholder="Peso (kg)"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="body-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="altura"
          name="altura"
          type="number"
          placeholder="Altura (cm)"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="water-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="metaAgua"
          name="metaAgua"
          type="number"
          placeholder="Meta de água (ml)"
          (ionFocus)="inputEmFoco = true"
          (ionBlur)="inputEmFoco = false"
          required
        ></ion-input>
      </ion-item>
      <ion-title class="tt-radio">Escolha a sua dieta:</ion-title>
      <ion-list class="radio">
        <ion-radio-group [(ngModel)]="dietaSelecionada" name="dieta">
          <div class="radio-flex">
            <ion-item *ngFor="let dieta of dietas">
              <ion-label>{{ dieta.nome }}</ion-label>
              <ion-radio
                mode="md"
                slot="start"
                [value]="dieta.indice"
              ></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
      <ion-button expand="block" type="button" (click)="cadastrar()"
        >Cadastrar</ion-button
      >
    </form>
    <div class="login-link" (click)="irParaLogin()">
      Já tem conta? <span>Entrar</span>
    </div>
  </div>
</ion-content>
