<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="usuario.nome"
        name="nome"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="usuario.email"
        name="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="usuario.senha"
        name="senha"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="usuario.altura"
        name="altura"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso Ideal</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="usuario.pesoIdeal"
        name="pesoIdeal"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso Atual</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="usuario.pesoAtual"
        name="pesoAtual"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Meta da Dieta</ion-label>
      <ion-select [(ngModel)]="usuario.metaDieta" name="metaDieta" required>
        <ion-select-option value="perder peso">Perder peso</ion-select-option>
        <ion-select-option value="ganhar massa">Ganhar massa</ion-select-option>
        <ion-select-option value="manter o peso"
          >Manter o peso</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Cadastrar</ion-button>
  </form>

  <ion-button expand="full" color="medium" (click)="voltarParaLogin()">
    Voltar para Login
  </ion-button>
</ion-content>
