<!-- Mostra a tela de loading se loading for true -->
<div *ngIf="loading" class="tela-loading">
  <img src="../../assets/imagens/logo-nutrifacil.png" class="logo-pulsando" />
</div>

<!-- Mostra o formulário apenas se loading for false -->
<ion-content [fullscreen]="true" class="content">
  <img src="../../assets/imagens/logo-nutrifacil-verde.png" class="logo-topo" />
  <div class="brocolito-fala">
    <img src="assets/imagens/brocolito/brocolito-1.png" class="brocolito-img" />
    <p class="frase-boas-vindas">
      Olá! Preencha suas informações para continuar.
    </p>
  </div>
  <form *ngIf="!loading" #form="ngForm" (ngSubmit)="salvarPerfil()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input
        [(ngModel)]="nome"
        name="nome"
        required
        #nomeInput="ngModel"
        placeholder="Seu nome"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="nomeInput.invalid && nomeInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Peso (kg)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="peso"
        name="peso"
        required
        #pesoInput="ngModel"
        placeholder="Ex: 73.5kg"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="pesoInput.invalid && pesoInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Altura (cm)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="altura"
        name="altura"
        required
        #alturaInput="ngModel"
        placeholder="Ex: 175cm"
      ></ion-input>
    </ion-item>
    <ion-text
      color="warning"
      *ngIf="alturaInput.invalid && alturaInput.touched"
    >
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Meta de água por dia (ml)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="metaAgua"
        name="metaAgua"
        required
        #metaAguaInput="ngModel"
        placeholder="Ex: 3500ml"
      ></ion-input>
    </ion-item>
    <ion-text
      color="warning"
      *ngIf="metaAguaInput.invalid && metaAguaInput.touched"
    >
      <small>Preencha este campo</small>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="form.invalid"
      >Salvar</ion-button
    >
  </form>
</ion-content>
