.imc-abaixo {
  color: #2196f3; /* azul */
}
.imc-normal {
  color: #4caf50; /* verde */
}
.imc-sobrepeso {
  color: #ff9800; /* laranja */
}
.imc-obesidade1 {
  color: #ff5722; /* laranja escuro */
}
.imc-obesidade2 {
  color: #f44336; /* vermelho */
}
.imc-obesidade3 {
  color: #b71c1c; /* vermelho escuro */
}