<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
  </ion-buttons>
  <ion-title>Editar Informações</ion-title>
  <ion-button (click)="salvarPerfil()" [disabled]="!houveAlteracao() || form.invalid">
    Salvar
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <form #form="ngForm" (ngSubmit)="salvarPerfil()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input
        [(ngModel)]="nome"
        name="nome"
        [placeholder]="nome || 'Digite seu nome'"
        required
        #nomeInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="nomeInput.invalid && nomeInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Meta de água (ml)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="metaAgua"
        name="metaAgua"
        [placeholder]="metaAgua !== null ? metaAgua : 'Ex: 2000'"
        required
        #metaAguaInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="metaAguaInput.invalid && metaAguaInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Peso (kg)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="peso"
        name="peso"
        [placeholder]="peso !== null ? peso : 'Ex: 73.5'"
        required
        #pesoInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="pesoInput.invalid && pesoInput.touched">
      <small>Preencha este campo</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Altura (cm)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="altura"
        name="altura"
        [placeholder]="altura !== null ? altura : 'Digite sua altura'"
        required
        #alturaInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="warning" *ngIf="alturaInput.invalid && alturaInput.touched">
      <small>Preencha este campo</small>
    </ion-text>
  </form>

  <div class="imc-resultados" *ngIf="imc !== null">
    <div class="imc-dados">
      <div class="imc-atual">
        <h6 [ngClass]="getImcClass()">IMC Atual</h6>
        <p [ngClass]="getImcClass()">{{ imc }}</p>
      </div>
      <div class="divisoria-verti"></div>
      <div class="imc-ideal">
        <h6>IMC Ideal</h6>
        <p>{{ imcIdeal }}</p>
      </div>
    </div>
    <div class="divisoria-horiz"></div>
    <div class="imc-classificacao" [ngClass]="getImcClass()">
      <p>{{ imcClassificacao }}</p>
    </div>
  </div>
</ion-content>