<ion-content class="content">
  <div class="recuperar-wrapper">
    <h2 class="titulo-recuperar">Recuperar Senha</h2>

    <!-- Form verificação -->
    <form *ngIf="!mostrarFormSenha" class="form">

      <!-- Email -->
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Digite o email da conta"
          required
        ></ion-input>
      </ion-item>

      <!-- Data de nascimento -->
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="dataNascimento"
          name="dataNascimento"
          type="date"
          placeholder="Data de Nascimento"
          required
        ></ion-input>
      </ion-item>

      <!-- Chama função para verificar dados -->
      <ion-button expand="block" (click)="validarDados()"
        >Validar Dados</ion-button
      >
    </form>

    <!-- Form para mudar senha (Caso os dados sejam válidos) -->
    <form *ngIf="mostrarFormSenha" class="form">

      <!-- Nova senha -->
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="novaSenha"
          name="novaSenha"
          type="password"
          placeholder="Digite sua nova senha"
          required
        ></ion-input>
      </ion-item>

      <!-- Confrimar nova senha -->
      <ion-item class="input-item">
        <div class="icon-wapper">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </div>
        <ion-input
          [(ngModel)]="confirmarSenha"
          name="confirmarSenha"
          type="password"
          placeholder="Confirme sua nova senha"
          required
        ></ion-input>
      </ion-item>

      <!-- Altera senha -->
      <ion-button expand="block" (click)="alterarSenha()"
        >Alterar Senha</ion-button
      >
    </form>
  </div>
</ion-content>
