<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/imagens/logo-nutrifacil.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tt-config">
    <h4>Configurações</h4>
  </div>
  <ion-item>
    <ion-label class="meu-label">
      <h2 class="tt-alterar">Alterar Dados da Conta</h2>
      <ion-icon class="tt-alterar" name="chevron-forward-outline"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="meu-label">
      <ion-toggle mode="ios" [(ngModel)]="notificacoesAtivas" (ionChange)="toggleNotificacoes()">Notificações</ion-toggle>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="meu-label">
      <ion-toggle mode="ios" [checked]="darkModeAtivo" (ionChange)="toggleDarkMode($event)"
        >Modo Noturno</ion-toggle
      >
    </ion-label>
  </ion-item>

  <ion-item lines="none" detail="false" button="true">
    <button class="sair">
      <h2>Sair</h2>
      <ion-icon name="exit-outline"></ion-icon>
    </button>
  </ion-item>
</ion-content>
