.login-content {
  --background: #34a853 !important;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item {
  --inner-border-width: 0;
  --inner-padding-end: 0;
  --padding-end: 20px;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --ripple-color: transparent;
}

.card-login {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px #0001;
  padding: 32px 24px 24px 24px;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 60%;
  margin-bottom: 16px;
}

.titulo-login {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 18px;
  color: #34a853;
  text-align: center;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-item {
  --background: transparent;
  --highlight-color-focused: #34a853;
  --border-radius: 8px;
  --padding-start: 0;
  --padding-end: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 1rem;
}

.input-item.item-has-focus {
  --highlight-color-focused: #34a853 !important;
  border-bottom: 2px solid #34a853 !important;
}

.input-item ion-icon {
  color: #34a853;
  font-size: 1.2em;
}

.input-item ion-input {
  flex: 1 1 0%;
  margin-left: 5px;
  --padding-start: 5px;
  font-size: 1rem;
  color: #525252;
  border-bottom: 1px solid #686868;
}

ion-input:focus-within{
  border-bottom: 1px solid #34a853 !important;
}

ion-button {
  --background: #34a853;
  --border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.cadastro-link {
  margin-top: 18px;
  font-size: 1rem;
  text-align: center;

  span {
    color: #34a853;
    cursor: pointer;
  }
}

.alerta-popup {
  position: fixed;
  max-width: 75%;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  background: #e53935;
  color: #fff;
  border-radius: 10px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 8px;
  font-size: 0.8rem;
  z-index: 9999;
  animation: fadeInDown 0.3s;
}

.alerta-popup ion-icon {
  font-size: 2em;
  color: #fff;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
