ion-tab-bar {
  --background: linear-gradient(
    135deg,
    #34a853 55%,
    var(--ion-color-primary-shade)
  );
  padding-bottom: env(safe-area-inset-bottom);
}

ion-tab-button {
  --color: rgb(190, 238, 186);
  --background: transparent;
  --border: none;
}

ion-tab-button[aria-selected="true"] {
  --color: white;
  --background: transparent;
  transform: scale(1.1);
}

ion-tab-button:hover {
  --color: white;
  --background: transparent;
}
