<ion-tabs class="tabs-wrapper">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/nav/home">
      <ion-icon name="restaurant"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="regAgua" href="/nav/regAgua">
      <ion-icon name="pint"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dietas" href="/nav/dietas">
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="config" href="/nav/config">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>