<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="nav">
      <div class="div-aguaAtual AI">
        <p class="p-atual">Consumido</p>
        <h6 class="litroAtual">
          {{ progressoAtual / 1000 | number:'1.0-1' }}L
        </h6>
      </div>
      <div class="circulo">
        <div id="progressCircle" class="icon-base"></div>
        <ion-icon name="pint" class="icone-topo"></ion-icon>
      </div>
      <div class="div-aguaIdeal AI">
        <p class="p-ideal">Meta do Dia</p>
        <h6 class="litroIdeal">{{ meta / 1000 }}L</h6>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-padding-horizontal">
    <ion-input mode="ios"
      [(ngModel)]="valorAdicionar"
      type="number"
      placeholder="Digite a quantidade (ml)"
    ></ion-input>
    <ion-button (click)="adicionarValor()">Adicionar</ion-button>
  </ion-item>

  <div class="historico-wrapper">
  <h6 class="header-historico">
    Histórico de consumo
    <ion-button fill="clear" style="color: green;" size="small" (click)="ativarEdicao()">
      {{ editando ? 'Concluir' : 'Editar' }}
    </ion-button>
  </h6>
  <div *ngFor="let item of historico; let i = index" class="historico-item">
    <p><ion-icon name="time-outline"></ion-icon>{{item.hora}}</p>
    <div class="div-delete-aparece">
      <p>+{{ item.valor }} ml</p>
      <ion-button *ngIf="editando" color="danger" fill="clear" size="small" (click)="removerRegistro(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
</ion-content>
