ion-content {
  --overflow: hidden auto; // Garantir que overflow Y funcione

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none; // Firefox
}

ion-toolbar {
  height: 100%;
  display: flex;
  color: white;
  padding: 20px;
  position: relative;
}

.data {
  position: absolute;
  top: 8%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
}

.div-imc {
  position: absolute;
  top: 3.5%;
  right: 0;
  display: flex;
  align-items: start;
  gap: 2%;

  .imc-valor {
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .imc {
    font-size: x-small;
    margin-top: 13.5%;
  }
}

.div-pesoAtual {
  position: absolute;
  bottom: 0;
  font-family: "Open Sans", sans-serif;

  .p-atual {
    display: flex;
    align-items: end;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .div-pesoA {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;

    .pesoAtual {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      margin: 0;
    }

    .kg-atual {
      display: flex;
      align-items: end;
      font-size: 0.7rem;
    }
  }
}

.div-pesoIdeal {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Open Sans", sans-serif;

  .p-ideal {
    display: flex;
    align-items: end;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .div-pesoI {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .pesoIdeal {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .kg-ideal {
      display: flex;
      align-items: end;
      font-size: 0.7rem;
    }
  }
}

.circulo {
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 40%;
  height: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icone-topo {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.div-interativa {
  background: linear-gradient(to right, #00aeff 50%, #79def7);
  height: 140px;
  border-radius: 15px;
  margin-inline: 26px;
  padding: 15px;
  color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Nunito", sans-serif;

  .tt-interativo {
    flex: 2 1 0; // ocupa mais espaço (ex: 2/3)
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;

    h4 {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
      color: #fff;
    }

    p {
      font-size: 0.75rem;
      margin: 0;
      color: #fff;
    }
  }

  .div-mascote {
    flex: 1 1 0; // ocupa o restante (ex: 1/3)
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      max-height: 150px; // ajuste conforme necessário
    }
  }
}

.refeicoes-content {
  --padding-bottom: 32px;
  --padding-top: 30px;
}

.refeicoes-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 30px;
  align-items: center;
}

.refeicao-item {
  border: 2px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  transition: border 0.3s ease;
  width: 90%;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 3px;

  &.checked {
    border-color: #34a853;

    h2,
    p {
      color: #34a853;
    }
    p {
      font-family: "Open Sans", sans-serif;
    }
  }
}

ion-checkbox {
  --size: 28px;
  --border-color: #777777;
  --checkbox-background-checked: #34a853;
  --checkmark-color: rgb(255, 255, 255);
  --border-color-checked: #34a853;
}

.meu-label {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; // rolagem suave em iOS

  &::-webkit-scrollbar {
    display: none; // oculta a barra no Chrome/Safari
  }

  scrollbar-width: none; // oculta a barra no Firefox

  h2 {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    color: #777777;
    overflow: hidden;
  }

  p {
    width: 90%;
    font-size: 0.7rem;
  }
}

ion-item {
  --background: transparent;
  --border-width: 0;
  --inner-border-width: 0;
  --inner-padding-end: 0;
  --padding-end: 20px;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --ripple-color: transparent;
}
