<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title> Escolher Dieta </ion-title>
  </ion-header>
  <div class="botoes-dieta">
    <div
      class="dieta-item"
      *ngFor="let dieta of dietas; let i = index"
      [class.dieta-selecionada]="i === dietaSelecionada"
    >
      <div class="content-dieta">
        <img class="dieta-img" [src]="dieta.imagem" alt="Dieta" />
        <div class="dieta">
          <h5 class="dieta-nome">{{ dieta.nome }}</h5>
          <p class="dieta-descricao">{{ dieta.descricao }}</p>
        </div>
      </div>

      <button
        class="dieta-btn"
        [class.selecionado]="i === dietaSelecionada"
        (click)="selecionarDieta(i)"
      >
        {{ i === dietaSelecionada ? 'Selecionado' : 'Selecionar' }}
      </button>
    </div>
    <div class="linha-gradient"></div>
    <div class="em-breve">
      <h5>
        Em breve, novas dietas personalizadas estarão disponíveis!
        <ion-icon name="hourglass"></ion-icon>
      </h5>
    </div>
  </div>
</ion-content>
