/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fontes/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fontes/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fontes/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fontes/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --overflow: hidden auto;

  &::part(scroll) {
    scrollbar-width: none;
  }

  &::part(scroll)::-webkit-scrollbar {
    display: none;
  }
}

ion-content {
  --background: #e0dede;
}

ion-header {
  height: 35%;
  box-shadow: none !important;
}

ion-toolbar {
  --background: linear-gradient(
    135deg,
    #34a853 55%,
    var(--ion-color-primary-shade)
  );
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
}

body.dark {
  --ion-background-color: #1e2023;

  ion-content{
    --background: #1e2023 !important;
  }

  .refeicao-item, .dieta-item {
    background: #1e2023;
    --color: #fff;
    --ion-color: #fff;
    border: 2px solid #636363;
  }

  .dieta-btn.selecionado {
    background: #1e2023;
  }

  ion-toggle, .tt-alterar{
    color: #9e9e9e !important;
    --background: #ccc !important;
  }

  ion-item {
    --border-color: #9e9e9e;
  }

  .historico-item{
    background: none;
    border: 2px solid #636363;
    color: white;
  }
}
